<:Title>
  Todos

<:Body>
  <h1>Todos</h1>

  <div class="row">
    <div class="col-md-6">
      <p>{{ num_completed }} completed</p>
    </div>
  </div>

 <table class="table todo-table">
    {{ _todos.each do |todo| }}
      <tr>
        <td><input type="checkbox" checked="{{ todo._complete }}" /></td>
        <td class="{{ if todo._complete }}complete{{ end }}">{{ todo._label }}</td>
        <td><button e-click="remove_todo(todo)">X</button></td>
      </tr>
    {{ end }}
  </table>

  <form e-submit="add_todo" role="form">
    <div class="form-group">
       <label>Add Todo:</label>
       <input class="form-control" type="text" value="{{ page._new_todo._label }}" />
    </div>
  </form>
